
<app-header></app-header>
<h2>Registros</h2>
<div class="body">
  
<table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Usuario">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Sexo">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element" style = "text-align: rigth;"> 
        <a  class = "pointer" style = "color: #1878b0;" matTooltip="Editar Usario" routerLink="/edit/{{element.id}}" >
          <mat-icon>edit</mat-icon>
        </a>
        <a class = "pointer" style = "color: #1878b0;" matTooltip="Eliminar Usario" (click)="deleteUser(element.id)" >
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
</div>
